.header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0px 3px 7px -10px rgba(85, 85, 85, 0.75);
    -webkit-box-shadow: 0px 4px 10px -4px rgba(131, 131, 131, 0.75);
    -moz-box-shadow: 0px 4px 10px -4px rgba(122, 122, 122, 0.75);
}

.enlaces {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.navegacion {
  margin-right: 20px;
}

.navegacion a {
  margin-right: 50px;
  color: #161616;
}

.navegacion a:hover {
  text-decoration: underline;
}

.contact {
  color: #fff;
  background-color: #161616;
  padding: 15px 30px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.contact:hover {
  background-color: #4b4b4b;
}
