body {
    font-family: "Outfit", sans-serif;
    background-color: #111629;
}

.author {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

p {
    font-size: 24px;
    color: #97A3B6;
    text-align: center;
}

h2 {
    font-size: 10px;
    color: #6466E9;
    border: 1px solid #6466E9;
    padding: 5px 10px;
    border-radius: 30px;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container {
    background-color: #20293a;
    background-image: url(../img/bg-image-random-quote.svg);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 544px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn1 {
    margin-right: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.group {
    border: 2px solid #4A5567;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 7px 10px;
    cursor: pointer;
}

.link {
    border-top: 2px solid #4A5567;
    border-bottom: 2px solid #4A5567;
    border-right: 2px solid #4A5567;
    border-top: 2px solid #4A5567;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 10px;
    cursor: pointer;
}
.alertas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert-content {
    background-color: #6466E9;
    color: #fff;
    padding: 20px 60px;
    border-radius: 15px;

}

.quit-content {
    color: #fff;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}

.visible {
    display: none;
}