<main class="galeria">

  <div class="top">
    <h2 class="titulo">TOP 3 Most Popular Arquitecture Gallery Images 2024 - Made By <span style="font-size: 25px; color: red;">??</span></h2>
    <div class="top-imgs">
      <img src="../../assets/img/camila-camacho-7RcN2crOfUE-unsplash.jpg" alt="1" class="tom-img">
      <img src="../../assets/img/mark-busch-9vC_NgzJb-I-unsplash.jpg" alt="2" class="tom-img">
      <img src="../../assets/img/wendell-adriel-Azf1F8b7-NE-unsplash.jpg" alt="3" class="tom-img">
    </div>
    <div id="galeria" class="imagenes">
      <h2 class="titulo">Gallery</h2>
      <div class="grid">
        <img src="../../assets/img/ivan-stepanov-_Ax8uDi_Ny8-unsplash.jpg" alt="">
        <img src="../../assets/img/ivan-stepanov-cYTcQID9Zmo-unsplash.jpg" alt="">
        <img src="../../assets/img/ivan-stepanov-dxaLLSh0lA8-unsplash.jpg" alt="">
        <img src="../../assets/img/ally-griffin-E_v5-fhwfvM-unsplash.jpg" alt="">
        <img src="../../assets/img/mark-busch-9vC_NgzJb-I-unsplash.jpg" alt="">
        <img src="../../assets/img/wendell-adriel-Azf1F8b7-NE-unsplash.jpg" alt="">
      </div>
    </div>
  </div>

</main>
